<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>827677575483-i40387eavvbjnh2pn23sngch2fhol74t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.827677575483-i40387eavvbjnh2pn23sngch2fhol74t</string>
	<key>API_KEY</key>
	<string>AIzaSyDQluZEdiER8nSf7-e6-bZf4pTCIbLfvWk</string>
	<key>GCM_SENDER_ID</key>
	<string>827677575483</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>bumpin.BumpIn</string>
	<key>PROJECT_ID</key>
	<string>bumpin-6de7b</string>
	<key>STORAGE_BUCKET</key>
	<string>bumpin-6de7b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:827677575483:ios:538b56d445c165a7ea4f1e</string>
</dict>
</plist>